---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import Profile from '@/components/Profile.astro';
---

<Layout title="DarrowCode | Links">
	
	<main>
		<Profile />
	</main>
</Layout>