---
import { userProfile } from "@/data/userData";
import SocialMediaLinks from "./SocialMediaLinks.astro";
---

<div class="text-center">
    {userProfile.map((data)=>(
        <div class="h-48 w-48 rounded-full overflow-hidden ring ring-slate-200 mx-auto">
            <img class="rounded-full border-2 border-lime-400" src={data.userImage} alt={data.username} loading="lazy"/>
        </div>
        <h1 class="text-2xl font-bold mt-5">{data.username}</h1>
        <p class="text-lg mt-2 text-slate-600">{data.userOccupation}</p>
    ))}
    <SocialMediaLinks />
</div>