---
import {socialMediaLinks} from "@data/userData"
---

<div class="flex items-center justify-center flex-wrap gap-4 mt-6">
    {socialMediaLinks.map((link) => (
        <span class="p-1">
            <a
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-500 hover:text-gray-700"
            >
                <img src={link.icon} alt={link.name} class="w-6 h-6" />
            </a>
        </span>
    ))}
</div>